<h3>Welcome, <%= @user.name %></h3>

<p id="notice"><%= notice %></p>
<%= image_tag(@user.image, :alt => @user.name) unless @user.image.nil?%>

<p>
  <strong>Product:</strong>
  <%= @user.product %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>
------------------------------------------------------------------<br>
<strong>You're following these artists:</strong>
<p>
  <% @following.each do |artist| %>
    <%= artist.name %> |
  <% end %>
</p>
------------------------------------------------------------------<br>
<strong>These are your top artists:</strong>
<p>
  <% @top_artists.each do |artist| %>
    <%= artist.name %> |
  <% end %>
</p>
------------------------------------------------------------------<br>
<strong>These are your top tracks:</strong>
<p>
  <% @top_tracks.each do |track| %>
   <strong><%= track.name %></strong> by <%= track.artist %> <br>
  <% end %>
</p>